// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&sk {
    release-after-ms = <2000>;
    quick-release;

    /delete-property/ ignore-modifiers;
};

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos {
        compatible = "zmk,combos";

        num_layer {
            bindings = <&mo 3>;
            key-positions = <30 33>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q  &kp W  &kp F  &kp P  &kp B             &kp J      &kp L  &kp U      &kp Y    &kp SEMI
&kp A  &kp R  &kp S  &kp T  &kp G             &kp M      &kp N  &kp E      &kp I    &kp O
&kp Z  &kp X  &kp C  &kp D  &kp V             &kp K      &kp H  &kp COMMA  &kp DOT  &kp FSLH
                     &mo 2  &kp LEFT_SHIFT    &kp SPACE  &mo 1
            >;
        };

        symbol {
            bindings = <
&kp ESCAPE  &kp LEFT_BRACKET  &kp LEFT_BRACE  &kp LEFT_PARENTHESIS  &kp TILDE      &kp CARET  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp RIGHT_BRACKET  &kp GRAVE
&kp MINUS   &kp ASTERISK      &kp EQUAL       &kp UNDER             &kp DOLLAR     &kp POUND  &none                  &none            &none              &none
&kp PLUS    &kp PIPE          &kp AT          &kp SLASH             &kp PERCENT    &none      &kp BACKSLASH          &kp AMPERSAND    &kp QUESTION       &kp EXCLAMATION
                                              &none                 &trans         &trans     &trans
            >;
        };

        nav_num {
            bindings = <
&kp TAB  &none  &none       &none          &kp C_VOLUME_UP     &none         &kp C_AC_HOME  &kp UP_ARROW  &kp END    &kp DELETE
&none    &none  &none       &none          &kp C_VOL_DN        &kp CAPSLOCK  &kp LEFT       &kp DOWN      &kp RIGHT  &kp BACKSPACE
&none    &none  &kp K_BACK  &kp K_FORWARD  &kp K_PLAY_PAUSE    &none         &kp PAGE_DOWN  &kp PAGE_UP   &none      &kp ENTER
                            &trans         &trans              &trans        &none
            >;
        };

        func_toggle {
            bindings = <
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5    &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0
&none         &none         &none         &none         &kp F11         &kp F12       &none         &none         &none         &none
&kp F1        &kp F2        &kp F3        &kp F4        &kp F5          &kp F6        &kp F7        &kp F8        &kp F9        &kp F10
                                          &trans        &trans          &trans        &trans
            >;
        };
    };
};
